---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/orgs/the<METRICS_API_USERNAME>?access_token=<GITHUB_OAUTH_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB_OAUTH_TOKEN>
      Accept-Enc<METRICS_API_USERNAME>ng:
      - gzip;q=1.0,deflate;q=0.6,identity;q=0.3
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4938'
      X-Ratelimit-Reset:
      - '1446724399'
      Etag:
      - W/"73f2bdef19e2ab3f7cff20fbcc808fcf"
      X-Oauth-Scopes:
      - public_repo
      X-Accepted-Oauth-Scopes:
      - admin:org, read:org, repo, user, write:org
      X-Github-Media-Type:
      - github.v3; format=json
      Transfer-Enc<METRICS_API_USERNAME>ng:
      - chunked
      Last-M<METRICS_API_USERNAME>fied:
      - Mon, 27 Apr 2015 20:53:44 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"login":"the<METRICS_API_USERNAME>","id":2492770,"url":"https://api.github.com/orgs/the<METRICS_API_USERNAME>","repos_url":"https://api.github.com/orgs/the<METRICS_API_USERNAME>/repos","events_url":"https://api.github.com/orgs/the<METRICS_API_USERNAME>/events","members_url":"https://api.github.com/orgs/the<METRICS_API_USERNAME>/members{/member}","public_members_url":"https://api.github.com/orgs/the<METRICS_API_USERNAME>/public_members{/member}","avatar_url":"https://avatars.githubusercontent.com/u/2492770?v=3","description":"","name":"The
        Open Data Institute","company":null,"blog":"http://the<METRICS_API_USERNAME>.org/","location":"London","email":"","public_repos":222,"public_gists":0,"followers":0,"following":0,"html_url":"https://github.com/the<METRICS_API_USERNAME>","created_at":"2012-10-05T09:25:19Z","updated_at":"2015-04-27T20:53:44Z","type":"Organization"}'
  recorded_at: Thu, 05 Nov 2015 10:53:19 GMT
recorded_with: VCR 2.9.3
