---
http_interactions:
- request:
    method: get
    uri: https://certificates.the<METRICS_API_USERNAME>.org/datasets/info.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Accept-Enc<METRICS_API_USERNAME>ng:
      - gzip;q=1.0,deflate;q=0.6,identity;q=0.3
  response:
    status:
      code: 302
      message: Moved Temporarily
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Location:
      - https://certificates.the<METRICS_API_USERNAME>.org/en/datasets/info.json
      Transfer-Enc<METRICS_API_USERNAME>ng:
      - chunked
    body:
      encoding: UTF-8
      string: <html><body>You are being <a href="https://certificates.the<METRICS_API_USERNAME>.org/en/datasets/info.json">redirected</a>.</body></html>
  recorded_at: Thu, 05 Nov 2015 11:25:18 GMT
- request:
    method: get
    uri: https://certificates.the<METRICS_API_USERNAME>.org/en/datasets/info.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Accept-Enc<METRICS_API_USERNAME>ng:
      - gzip;q=1.0,deflate;q=0.6,identity;q=0.3
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Transfer-Enc<METRICS_API_USERNAME>ng:
      - chunked
    body:
      encoding: ASCII-8BIT
      string: '{"published_certificate_count":151401}'
  recorded_at: Thu, 05 Nov 2015 11:25:19 GMT
recorded_with: VCR 2.9.3
